global
  stats socket /tmp/api.sock user haproxy group haproxy mode 660 level admin expose-fd listeners
  log stdout format raw local0 info

defaults
  mode http
  timeout client 10s
  timeout connect 5s
  timeout server 10s
  timeout http-request 10s
  log global

frontend http_frontend
  bind *:80

  # Define ACLs for routing based on URL paths
  acl is_statics path_beg /statics
  acl is_api path_beg /api

  # Use the defined ACLs to direct traffic to the appropriate backends
  use_backend statics_backend if is_statics
  use_backend api_backend if is_api

backend statics_backend
  mode http
  balance roundrobin
  server statics_server nginx:1080 check

backend api_backend
  mode http
  balance roundrobin
  server api_server echoserver:8080 check


